html {
  min-width: 75em;
}

body {
  display: flex;
  min-width: 75em;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}

div {
  padding: 5px;
}

.content {
  display: flex;
  flex-flow: row;
}

img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

ul {
  list-style-type: square;
}

ol, ul {
  border: 1px dotted;
  border-radius: 8px;
  border-color: #7C6F64;
}

li {
  max-width: 24em;
  padding: 5px;
}

